{% extends 'base.html' %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <div class="container d-flex flex-column align-items-center py-4" id="last_div">
        <h1 class="fs-3">{% trans "Password Reset" %}</h1>
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p class="fs-6 mt-4">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset width-50 py-4">
            {% csrf_token %}
            <div class="container">
                <label for="">Email Address</label>
                {{form.email}}
                <div class="text-center">
                    <input class="d-inline-block mt-4 button btn-dark squared" type="submit" value="{% trans 'Reset My Password' %}" />
                </div>
            </div>
            <!-- {{ form.as_p }} -->
            
        </form>

        <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
    </div>
    
{% endblock %}

{% block js %}
    <script>
        var last_div_pos = document.querySelector('#last_div').getBoundingClientRect();
        var footer =  document.querySelector('.footer');
        var footer_pos = footer.getBoundingClientRect();
        if (last_div_pos.bottom >= footer_pos.top) { // if there is an overlap
            footer.classList.remove("fixed-bottom");
        }
    </script>
{% endblock js %}