[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "*"
django-allauth = "*"
pillow = "*"
gunicorn = "==20.0.4"
django = "*"
djangorestframework = "*"
dj-rest-auth = "*"

[dev-packages]

[requires]
python_version = "3.9"
