{% extends 'base.html' %}

{% block content %}
    <div class="container d-flex justify-content-center align-items-center vh-100" id="last_div">
        <form class="" action="" method="post"> {% csrf_token %}
            <div class="text-center mb-4">
                <p class="fs-3">Are you sure you want to delete patient?</p>
                <input class="d-inline-block m-1 button btn-danger squared" type="submit" value="Confirm">
                <a class="link d-inline-block m-1 button btn-dark squared" href="{% url 'patient_detail' patient.pk %}">Go Back</a>
            </div>
            
        </form>
    </div>
{% endblock content %}

{% block js %}
    <script>
        var last_div_pos = document.querySelector('#last_div').getBoundingClientRect();
        var footer =  document.querySelector('.footer');
        var footer_pos = footer.getBoundingClientRect();
        if (last_div_pos.bottom >= footer_pos.top) { // if there is an overlap
            footer.classList.remove("fixed-bottom");
        }
    </script>
{% endblock js %}

