{% extends 'base.html' %}

{% block content %}
    <h1>{{patient.hospital_number}}</h1>
    <div>
        <p>Full Name: {{patient.last_name}}, {{patient.middle_name}} {{patient.first_name}}</p>
        <p>Age: {{patient.age}}</p>
        <p>Sex: {{patient.sex}}</p>
        <p>Hospital Number: {{patient.hospital_number}}</p>

        <div>
            <h2>Appointments History:</h2>
            <p>Doctors:</p> 
            {% if doctor_appointments %}
                {% for meeting in doctor_appointments %}
                    <p><a href="{% url 'doctor_detail' meeting.pk %}">{{meeting.date}}, Created by: {{meeting.created_by}}</a></p>
                {% endfor %}
            {% else %}
                <p>No Appointments yet...</p>
            {% endif %}
            
            <p>Lab:</p>
            {% if lab_appointments %}
                {% for meeting in lab_appointments %}
                    <p><a href="{% url 'lab_detail' meeting.pk %}">{{meeting.date}}, Created by: {{meeting.created_by}}</a></p>
                {% endfor %}
            {% else %}
                <p>No Appointments yet...</p>
            {% endif %}
            
            <a href="{% url 'doctor_new' patient.pk %}">Add new appointment history</a>
        </div>
        <div>
            <a href="{% url 'patient_edit' patient.pk %}">Update Record</a>
            <a href="{% url 'patient_delete' patient.pk %}">Delete Record</a>
        </div>
    </div>
    <!-- Minor Bugfix -->
{% endblock content %}