{% extends 'base.html' %}

{% block content %}
    <div style="border-top: 1px solid;">
        {% if doctor_appointment_list %}
            {% for appointment in doctor_appointment_list %}
                <div style="border-bottom: 1px solid;">
                    <p>Date: {{appointment.date}}</p>
                    <p>Section: {{appointment.hospital_section}}</p>
                    <p>Patient: {{appointment.patient}}</p>
                    <p>Created By: {{appointment.created_by}}</p>
                    <p>Next appointment: {{appointment.next_appointment_date}}</p>
                    <a href="{% url 'doctor_detail' appointment.pk %}">View More</a>
                </div>  
            {% endfor %}
        {% else %}
            <div>
                Nothing to show here....
            </div>
        {% endif %}
    </div>
{% endblock content %}