{% extends 'base.html' %}

{% block content %}
    <div style="border-top: 1px solid;">
        {% if lab_appointment_list %}
            {% for appointment in lab_appointment_list %}
                <div style="border-bottom: 1px solid;">
                    <p>Date: {{appointment.date}}</p>
                    <p>Patient: {{appointment.patient}}</p>
                    <p>Created By: {{appointment.created_by}}</p>
                    <a href="{% url 'lab_detail' appointment.pk %}">View More</a>
                </div>  
            {% endfor %}
        {% else %}
            <div>
                Nothing to show here....
            </div>
        {% endif %}
    </div>
{% endblock content %}