{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container py-4">
        <p class="fs-3 text-center mb-4">{{lab_appointment.patient.hospital_id}}</p>
        <div class="row w-75 center-container mx-auto my-2">
            <div class="col-sm-3">Date:</div>
            <div class="col-sm-6 border-bottom">{{ lab_appointment.date }}</div>
        </div>
        <div class="row w-75 center-container mx-auto my-2">
            <div class="col-sm-3">Patient:</div>
            <div class="col-sm-6 border-bottom">{{ lab_appointment.patient }}</div>
        </div>
        <div class="row w-75 center-container mx-auto my-2">
            <div class="col-sm-3">Created By:</div>
            <div class="col-sm-6 border-bottom">{{ lab_appointment.created_by }}</div>
        </div>
        <div class="row w-75 center-container mx-auto my-2">
            <div class="col-sm-3">Report:</div>
            <div class="col-sm-6 border-bottom">{{ lab_appointment.report }}</div>
        </div>
        {% if lab_appointment.image_report %}
            <div class="row w-75 center-container mx-auto my-2">
                <div class="col-sm-3">Image report:</div>
                <div class="col-sm-6"><a class="link" href="{{ lab_appointment.image_report.url }}">View</a></div>
            </div>
        {% endif %}
            
        <div class="row w-75 mx-auto center-container my-2" id="last_div">
            <div class="col-sm-5 mx-auto py-4 text-end text-center-sm"> <!--text-start-sm is my custom class-->
                <a class="link button btn-dark squared" href="{% url 'lab_edit' lab_appointment.pk %}">Update Record</a>
            </div>
            <div class="col-sm-5 mx-auto py-4 text-center-sm" id="last_div">
                <a class="link button btn-danger squared" href="{% url 'lab_delete' lab_appointment.pk %}">Delete Record</a>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js %}
    <script>
        var last_div_pos = document.querySelector('#last_div').getBoundingClientRect();
        var footer =  document.querySelector('.footer');
        var footer_pos = footer.getBoundingClientRect();
        if (last_div_pos.bottom >= footer_pos.top) { // if there is an overlap
            footer.classList.remove("fixed-bottom");
        }
    </script>
{% endblock js %}